html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}



label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.landing-hero {
	background-image: url('/home-drinks.png')  !important;
}

.dark .landing-hero {
	background-image: url('/playa-landing-hero.png')  !important;
}

#drinks-section img:first-child {
	display: none  !important;
}

.dark #drinks-section img:first-child {
	display: block  !important;
}

.dark #drinks-section img:nth-child(2) {
	display: none !important;
}

#drinks-section img:nth-child(2) {
	display: block !important;
}

#drinks-section img:first-child {
	display: none  !important;
}

.dark #drinks-section img:first-child {
	display: block  !important;
}

.dark #drinks-section img:nth-child(2) {
	display: none !important;
}

#drinks-section img:nth-child(2) {
	display: block !important;
}



#drinks-section img {
	background-image: url('/drinks-menu-light.png')  !important;
}

.dark #drinks-section img {
	background-image: url('/drinks-menu.png')  !important;
}

.wave-1 {
	display: none;
}

.dark .wave-1 {
	display: block;
}
.dark .wave-2 {
	display: none;
}

aside {
	background: linear-gradient(180deg, #FBEEE6 0%, #FFFFFF 100%);
}

.dark aside {
	background: #262830 !important; 
}
.dark #landing-hero {
	background-image:url('/concept_background_night.png') !important;

}

#landing-hero {
	background-image:url('/concept_background_day.png');

}

.concept-cuisine{
	content:url("/2-cuisine-day.png");
}

.dark .concept-cuisine{
	content:url("/2-cuisine-night.png") !important;
}


.concept-cocktail{
	content:url("/3-cocktail-day.png");
}

.dark .concept-cocktail{
	content:url("/3-cocktail-night.png") !important;
}


.menu-item-1{
	content:url("/menu-item-1.png");
}

.dark .menu-item-1{
	content:url("/menu-item-1-dark.png") !important;
}

.menu-item-2{
	content:url("/menu-item-1.png");
}

.dark .menu-item-2{
	content:url("/menu-item-2-dark.png") !important;
}
