@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');


body{
    padding: 0px;
}

.main-content {
    padding: 0px !important; 
} 



button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.02em;
    border: 0px;
    border-radius: 0px;
    line-height: 21,94px;
}

